<div class="row">
    <div class="col-lg-8 pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="topcontact">
                    <div class="inner p-4">
                        <p class="fs-32 text-white ff-p">Products</p>
                        <p class="fs-16 text-white ff-p mb-4">Manage and update products directly.</p>
                        <button class="btn btn-clear"><img src="assets/images/cloud_download.svg" alt=""
                                class="mr-2"><span class="text-white">Import</span></button>
                        <button class="btn btn-out-white"><img src="assets/images/add.svg" alt="" class="mr-2">Add New
                            Product</button>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <ul class="nav nav-tabs leads align-items-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab"
                            aria-controls="home" aria-selected="true">All Products</a>
                    </li>

                    <li class="ml-auto">
                        <a href="" class="nav-link">
                            <img src="assets/images/date filter.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table dashboard">
                                <thead>
                                    <th>
                                        <input type="checkbox">
                                    </th>
                                    <th>Name</th>
                                    <th>Product Manager</th>
                                    <th>Category</th>
                                    <th>Active Deals</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="pt-2"><input type="checkbox"></div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="mr-2">
                                                    <img src="assets/images/uba.svg" alt="">
                                                </div>
                                                <div>
                                                    <p class="m-0 ff-s fs-15 fw-6 fc-black">UBA</p>

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="ff-s fs-15 fw-4 fw-6 fc-darkblue m-0 mb-1">
                                                Oluwaseun Wey
                                            </p>
                                            <p class="ff-s fs-15 fc-black m-0">03 Aug 2020</p>
                                        </td>
                                        <td>
                                            <p class="ff-s fs-15 fw-6 fc-black m-0 pt-2">Payment</p>
                                        </td>
                                        <td>
                                            <p class="ff-s fs-15 fw-6 fc-black m-0 pt-2">245</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sidediv">
            <div class="p-3">
                <div class="d-flex mb-2">
                    <div class="mr-2">
                        <img src="assets/images/info.svg" alt="">
                    </div>
                    <div>
                        <p class="m-0 fs-16 fc-green ff-p">Info</p>
                    </div>
                </div>
                <div class="orangeline"></div>
                <div class="emptystate">
                    <img src="assets/images/emptylead.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>