.nav-tabs.leads {
    border: none;
}

.nav-tabs.leads .nav-link {
    padding: 0;
    margin-right: 20px;
    border: none;
    font-family: Segoe UI;
    font-size: 16px;
    line-height: 21px;
    color: rgba(43, 44, 45, 0.5);
}

.nav-tabs.leads .nav-link::after {
    content: '';
    border-bottom: 2px solid #fff;
    width: 52px;
    display: block;
}

.nav-tabs.leads .nav-link.active {
    font-weight: bold;
    color: #26727E;
}

.nav-tabs.leads .nav-link.active::after {
    border-bottom: 2px solid #26727E;
}

.topcontact {
    border-radius: 7px;
    background: url('../../../../assets/images/product.png');
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

.topcontact .inner {
    background: linear-gradient(104.03deg, #263F6D 0.92%, #263F6D 50.34%, rgba(38, 63, 109, 0.907464) 56.98%, rgba(38, 63, 109, 0.8) 63.76%, rgba(38, 63, 109, 0.1) 99%);
    min-height: 200px;
    border-radius: 7px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C4C4C4;
    height: 39px;
    width: 39px;
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
}

.nav-tabs.prod {
    border: none;
}

.nav-tabs.prod .nav-link {
    padding-left: 0;
    border: none;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(16, 16, 16, 0.7);
}

.nav-tabs.prod .nav-link.active {
    color: #000000;
}

.nav-tabs.prod .nav-link.active .number {

    background: #D18700;
}

.productname {
    background: #DEE9F2;
    border-radius: 20px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #00529B;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}