.nav-tabs.leads {
    border: none;
}

.nav-tabs.leads .nav-link {
    padding: 0;
    margin-right: 20px;
    border: none;
    font-family: Segoe UI;
    font-size: 16px;
    line-height: 21px;
    color: rgba(43, 44, 45, 0.5);
}

.nav-tabs.leads .nav-link::after {
    content: '';
    border-bottom: 2px solid #fff;
    width: 52px;
    display: block;
}

.nav-tabs.leads .nav-link.active {
    font-weight: bold;
    color: #26727E;
}

.nav-tabs.leads .nav-link.active::after {
    border-bottom: 2px solid #26727E;
}

.upload-file::-webkit-file-upload-button {
    visibility: hidden;
}

.upload-file {
    height: 40px;
    border: 1px solid #c6c6c5;
    border-radius: 2px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #454545;
}

input.form-control.upload-file:focus {
    box-shadow: none;
}

.upload-file::after {
    content: 'Browse file';
    border: .5px solid #2A3851;
    border-radius: 4px;
    display: inline-block;
    height: 37px;
    padding: 8px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #2A3851;
}

.upload-file:hover::before {
    border-color: black;
}

.upload-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}




.number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C4C4C4;
    height: 39px;
    width: 39px;
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 100%;
}

.nav-tabs.prod {
    border: none;
}

.prod a {
    padding-left: 0;
    border: none;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(16, 16, 16, 0.7);
}

.prod a.active {
    color: #000000;
}

.prod a.active .number {

    background: #D18700;
}