<div class="">
    <div id="login">
        <div class="log">
            <div class="container">
                <div>
                    <p class="fs-32 ff-s fw-7 text-white">CRMHUB</p>
                </div>
                <div class="inner py-5 px-5">
                    <div class="white-back px-5 pt-5 pb-3">
                        <div class="row">
                            <div class="col-lg-6 py-lg-5 px-lg-5 border-right">
                                <div class="mb-5">
                                    <img src="assets/images/nibss.svg" alt="">
                                </div>
                                <p class="ff-m fw-3 fs-36 pr-lg-5">
                                    <span class="fw-7 fc-lgreen">Grow</span> with<br> your business,<br> and <span
                                        class="fw-7 fc-lgreen">increase productivity.</span>
                                </p>
                            </div>
                            <div class="col-lg-6 px-lg-5 pt-5">
                                <div class="row pt-5">
                                    <div class="col-12 pt-5">
                                        <p class="fs-16 ff-s mb-5">
                                            Welcome back,<br>
                                            <span class="fw-7">Please login to your account</span>
                                        </p>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn login-btn px-0 w-100 py-0" (click)="login()">
                                            <div class="d-flex">
                                                <div class="pt-1 m-auto">
                                                    <p class="text-center m-0 pl-lg-5">Sign In to Your Account</p>
                                                </div>
                                                <div class="yellow ml-auto">
                                                    <img src="assets/images/login-arrow.svg" alt="">
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-5">
                                <p class="text-center fs-15 fc-lightgrey fw-6 ff-s">© 2020 All rights Reserved.
                                    nibss-plc.com.ng | Privacy and Terms.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>