<div class="row">
    <div class="col-12">
        <div class="p-5">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <div class="d-flex">
                                <button class="btn btn-grey mr-4" (click)="deleteEmail()">
                                    <img src="assets/images/delete.svg" alt="">
                                </button>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-group-grey" data-toggle="tooltip" data-placement="top"
                                        title="Reply" data-toggle="modal" data-target=".reply-email-modal"><img
                                            src="assets/images/reply_24px.svg" alt=""></button>
                                    <button class="btn btn-group-grey ml-2" data-toggle="tooltip" data-placement="top"
                                        title="Forward" data-toggle="modal" data-target=".forward-email-modal"><img
                                            src="assets/images/forward.svg" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a (click)="backClicked()"><img src="assets/images/close.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="email-header px-4 py-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="text-white ff-s fw-6 fs-15">{{email?.senderName}}</p>
                                <p class="text-white ff-s fw-6 fs-14">{{email?.subject}}</p>
                                <p class="text-white ff-s fw-4 fs-12">{{email?.senderName}}</p>
                            </div>
                            <div>
                                <div class="d-flex">
                                    <div class="mr-2">
                                        <p class="ff-s text-white fs-15 fw-4">{{email?.sentDateTime | date: 'fullDate'}}
                                            at {{email?.sentDateTime | date: 'shortTime'}}</p>
                                    </div>
                                    <div>
                                        <div class="initials">{{email?.senderName.substring(0,2)}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 p-5">
                    <p [innerHTML]="email?.body" class="fs-12 fw-4 fc-black ff-s"></p>
                </div>


            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg reply-email-modal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="email">
            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Reply Mail
                                </p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="input-group compose">
                            <div class="input-group-prepend">
                                To
                            </div>
                            <input type="text" [(ngModel)]="email.senderEmail" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-7 mb-3">
                        <div class="input-group compose">
                            <div class="input-group-prepend">
                                CC
                            </div>
                            <input type="text" [(ngModel)]="cc" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-5 mb-3">
                        <div class="input-group compose">
                            <div class="input-group-prepend">
                                BCC
                            </div>
                            <input type="text" [(ngModel)]="bcc" class="form-control">
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="input-group compose">
                            <div class="input-group-prepend">
                                Subject
                            </div>
                            <input type="text" [(ngModel)]="email.subject" class="form-control">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="bodymail">
                            <div class="row no-gutters">
                                <div class="col-lg-8 px-2 py-3">
                                    <textarea cols="30" rows="10" [(ngModel)]="body"
                                        class="form-control compose"></textarea>
                                </div>
                                <div class="col-lg-4 border-left px-2 py-3">
                                    <p class="fs-15 fc-black ff-s fw-5">Attach Files</p>
                                    <div class="uploadfile" (click)="fileInput.click()" appDragDrop
                                        (onFileDropped)="uploadFile($event)">
                                        <img src="assets/images/cloud_download_black.svg" alt="">
                                        <p class="text-center fs-13 ff-s fw-4 mt-4">Drop files to attach or click</p>
                                        <p class="py-5 text-center">
                                            <button class="btn btn-blue px-3" (click)="fileInput.click()">Upload
                                                Files</button>
                                        </p>

                                        <input hidden type="file" multiple #fileInput
                                            (change)="uploadFile($event.target.files)">

                                    </div>
                                </div>
                                <div class="col-12 bottom py-2 px-4">
                                    <button class="btn btn-blue" (click)="replyEmail()"
                                        data-dismiss="modal">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg forward-email-modal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="email">
            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Forward Mail
                                </p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>

                    <div class="col-12 mb-3">
                        <div class="input-group compose">
                            <div class="input-group-prepend">
                                To
                            </div>
                            <input type="text" [(ngModel)]="to" class="form-control">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="bodymail px-3">
                            <div class="row">
                                <div class="col-lg-12 px-2 py-3">
                                    <textarea cols="30" rows="10" [(ngModel)]="body"
                                        class="form-control compose"></textarea>
                                </div>

                                <div class="col-12 bottom py-2 px-4">
                                    <button class="btn btn-blue" (click)="forwardEmail()"
                                        data-dismiss="modal">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="success-div" *ngIf="esuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your email has been<br>
                            sent
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success-email.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closeeSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>