<div class="row">
    <div class="col-lg-8 pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="topcontact">
                    <div class="inner p-4">
                        <p class="fs-32 text-white ff-p">Contact</p>
                        <p class="fs-16 text-white ff-p mb-4">Manage your contacts</p>
                        <button class="btn btn-clear import mr-2" data-toggle="modal" data-target=".import-modal"><img
                                src="assets/images/cloud_download.svg" alt="" class="mr-2"><span
                                class="text-white">Import</span></button>
                        <!-- <button class="btn btn-out-white" data-toggle="modal" data-target=".new-modal"><img
                                src="assets/images/add.svg" alt="" class="mr-2">Add New
                            Contact</button> -->
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <ul class="nav nav-tabs leads align-items-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab"
                            aria-controls="home" aria-selected="true">All Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#my" role="tab"
                            aria-controls="profile" aria-selected="false">My Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#junk" role="tab"
                            aria-controls="contact" aria-selected="false">Junk Contacts</a>
                    </li>
                    <!-- <li class="ml-auto">
                        <div class="dropdown">
                            <a class="filter text-right" id="filter">
                                <img src="assets/images/date filter.svg" alt="">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right filter-drop">
                                <div class="top px-3 py-3">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">
                                            <img src="assets/images/filter.svg" alt="">
                                        </div>
                                        <div>
                                            <p class="m-0 fw-7 fs-18 ff-p fc-green">Filter your Contacts</p>
                                            <p class="m-0 fs-12 ff-s fc-black">Choose your preferred metrics to display
                                                contacts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3">
                                    <p class="mb-3 fs-14 ff-s fw-6 fc-blue">Filter by:</p>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck1">Contact
                                            Person</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck2">Phone
                                            Number</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck3">Email</label>
                                    </div>

                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck5">Last Activity
                                            Time</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck6">Contact
                                            Owner</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck7">Date
                                            Created</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck8">
                                        <label class="form-check-label ff-s fs-14"
                                            for="exampleCheck8">Designation</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck9">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck9">Lead
                                            Status</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck10">
                                        <label class="form-check-label ff-s fs-14"
                                            for="exampleCheck10">Department/Unit</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck11">
                                        <label class="form-check-label ff-s fs-14"
                                            for="exampleCheck11">Institution</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
            <div class="col-12">
                <!-- <app-table [dataSource]="dataSource" [displayedColumns]="displayedColumns" [isPaginated]=""
                    (actionOne)="actionOne($event)"></app-table> -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="allCons?.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <!-- <th>
                                                <input type="checkbox">
                                            </th> -->
                                            <th>CONTACT PERSON</th>
                                            <th>EMAIL/PHONE</th>
                                            <th>INSTITUTION</th>
                                            <th>
                                                DESIGNATION

                                                <a class="more text-right float-right" id="more">
                                                    <img src="assets/images/more-table.svg" alt="">
                                                </a>


                                                <div class="dropdown-menu dropdown-menu-right more-drop">
                                                    <div class="top px-4 py-3">
                                                        <p class="m-0 fw-7 fs-14 ff-p fc-green">MORE FIELDS</p>
                                                        <p class="m-0 fs-10 ff-s fc-black">You can only select 3 fields
                                                        </p>
                                                    </div>
                                                    <div class="px-4 py-3">

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck6">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck6">Email/Phone</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck7">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck7">Institution</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck8">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck8">Designation</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck9">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck9">Date Created/Owner</label>
                                                        </div>

                                                    </div>

                                                </div>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let contact of allCons" (click)="getContactById(contact.id)">
                                                <!-- <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td> -->
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="productname">
                                                                {{contact.contactDetails.firstName.substring(0,1)}}
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">
                                                                {{contact.contactDetails.firstName}}
                                                                {{contact.contactDetails.lastName}}</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="mb-2 ff-s fs-15 fc-black">
                                                        {{contact.contactDetails.phoneNumber}}</p>
                                                    <p class="ff-s fs-12 fw-4 fw-6 fc-darkblue m-0">
                                                        {{contact.contactDetails.email}}</p>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-lightblack m-0 pt-2">
                                                        {{contact.accountName}}</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0 pt-2">
                                                        {{contact.contactDetails.designation}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="allCons?.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no contacts in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="my" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="myCons?.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <!-- <th>
                                                <input type="checkbox">
                                            </th> -->
                                            <th>CONTACT PERSON</th>
                                            <th>EMAIL/PHONE</th>
                                            <th>INSTITUTION</th>
                                            <th>DESIGNATION</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let contact of myCons" (click)="getContactById(contact.id)">
                                                <!-- <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td> -->
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="productname">
                                                                {{contact.contactDetails.firstName.substring(0,1)}}
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">
                                                                {{contact.contactDetails.firstName}}
                                                                {{contact.contactDetails.lastName}}</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="mb-2 ff-s fs-15 fc-black">
                                                        {{contact.contactDetails.phoneNumber}}</p>
                                                    <p class="ff-s fs-12 fw-4 fw-6 fc-darkblue m-0">
                                                        {{contact.contactDetails.email}}</p>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-lightblack m-0 pt-2">
                                                        {{contact.accountName}}</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0 pt-2">
                                                        {{contact.contactDetails.designation}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="myCons?.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no contacts in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="junk" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="junkCons?.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <!-- <th>
                                                <input type="checkbox">
                                            </th> -->
                                            <th>CONTACT PERSON</th>
                                            <th>EMAIL/PHONE</th>
                                            <th>INSTITUTION</th>
                                            <th>DESIGNATION</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let contact of junkCons" (click)="getContactById(contact.id)">
                                                <!-- <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td> -->
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="productname">
                                                                {{contact.contactDetails.firstName.substring(0,1)}}
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">
                                                                {{contact.contactDetails.firstName}}
                                                                {{contact.contactDetails.lastName}}</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="mb-2 ff-s fs-15 fc-black">
                                                        {{contact.contactDetails.phoneNumber}}</p>
                                                    <p class="ff-s fs-12 fw-4 fw-6 fc-darkblue m-0">
                                                        {{contact.contactDetails.email}}</p>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-lightblack m-0 pt-2">
                                                        {{contact.accountName}}</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0 pt-2">
                                                        {{contact.contactDetails.designation}}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="junkCons?.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no contacts in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sidediv">
            <div class="p-3">
                <div class="d-flex mb-2">
                    <div class="mr-2">
                        <img src="assets/images/info.svg" alt="">
                    </div>
                    <div>
                        <p class="m-0 fs-16 fc-green ff-p">Info</p>
                    </div>
                </div>
                <div class="orangeline"></div>
                <div class="littleorange"></div>
                <div class="emptystate" *ngIf="!isSelected">
                    <img src="assets/images/emptylead.svg" alt="">
                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                        Select a contact to display contact
                        information
                    </p>
                </div>

                <!-- properties -->
                <div class="props pt-2" *ngIf="isSelected">
                    <div class="top-prop p-2">
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <div class="prop-initials">
                                    {{theCons?.contactDetails.firstName.substring(0,1)}}
                                </div>
                            </div>
                            <div>
                                <p class="m-0 fs-15 ff-s fc-black fw-6">{{theCons?.contactDetails.firstName}} {{theCons?.contactDetails.lastName}}</p>
                            </div>
                            <div>
                                <a href="tel:{{theCons?.contactDetails.phoneNumber}}">
                                    <img src="assets/images/bcall.svg" alt="">
                                </a>
                            </div>
                            <div>
                                <a>
                                    <img src="assets/images/bmessage.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Designation:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-black fw-6 fs-14 ff-s">{{theCons?.contactDetails.designation}}</p>
                        </div>
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Phone Number:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-darkblue fw-6 fs-14 ff-s" *ngIf="theCons?.contactDetails.phoneNumber">
                                <a>{{theCons?.contactDetails.phoneNumber}}</a></p>
                            <p class="m-0 fc-darkblue fw-6 fs-14 ff-s" *ngIf="theCons?.contactDetails.phoneNumber == null"><a>NA</a>
                            </p>
                        </div>
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Email:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-darkblue tx-u fw-6 fs-14 ff-s"><a>{{theCons?.contactDetails.email}}</a></p>
                        </div>
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Date Created:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-black fw-6 fs-14 ff-s">{{theCons?.contactDetails.dateCreated | date:'medium'}}</p>
                        </div>
                    </div>
                    <div class="info mb-3">
                        <div class="top-prop b-5 p-2">
                            <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                        src="assets/images/contactcoins.svg" alt=""></span>Account</p>
                        </div>
                        <div class="row pl-2">
                            <div class="col-12 mb-3">
                                <div class="d-flex align-items-center" *ngIf="theCons?.account.accountName">
                                    <div class="py-2">
                                        <div class="image" *ngIf="theCons?.account.imageString">
                                            <img [src]="'data:image/png;base64, ' + theCons?.account.imageString | trustedUrl"
                                                alt="">
                                        </div>
                                        <div class="image" *ngIf="theCons?.account.imageString == null">
                                            <img src="assets/images/contact-avatar.png" alt="">
                                        </div>
                                    </div>
                                    <div class="p-2">
                                        <p class="m-0 ff-s fw-6 fs-15 fc-black">{{theCons?.account.accountName}}</p>
                                    </div>
                                </div>
                                <p class="m-0 ff-s fw-6 fs-15 fc-black" *ngIf="theCons?.account == null">NA</p>

                            </div>

                        </div>
                    </div>
                    <!-- <div class="info">
                        <div class="top-prop b-5 p-2">
                            <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                        src="assets/images/contactdeals.svg" alt=""></span>Deals</p>
                        </div>
                        <div class="d-flex">
                            <div class="p-2">
                                <div class="deal">
                                    N
                                </div>
                            </div>
                            <div class="p-2">
                                <p class="mb-1 ff-s fw-6 fs-14 fc-dblue">Negotiation/Review</p>
                                <div class="d-flex">
                                    <div class="product t mr-2">mCash</div>
                                    <div class="product t mr-2">NIP</div>
                                </div>


                            </div>
                            <div class="p-2 ml-auto">
                                <p></p>
                                <p class="m-0 ff-s fs-12 fc-6blue">
                                    25-May-20
                                </p>
                            </div>
                        </div>
                    </div> -->

                    <div>
                        <div class="d-flex justify-content-center mt-4">
                            <button class="btn btn-green mr-3" (click)="openContact(theCons.id)">View
                                Complete Info</button>
                            <div class="dropdown">
                                <button class="btn btn-more dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="assets/images/more-green.svg" alt="">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item fc-black fw-6 fs-14 ff-s" (click)="junkaContact(theCons.id)"
                                        *ngIf="theCons?.isJunked == false">Junk
                                        Contact</a>
                                    <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                        (click)="reactivateContact(theCons.contactDetails.id)"
                                        *ngIf="theCons?.isJunked == true">Reactivate Contact</a>
                                    <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                        (click)="deleteContact(theCons.contactDetails.id)" *ngIf="theCons?.isJunked == true">Delete
                                        Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <p class="text-center fs-15 fc-green ff-s tx-u fw-6 py-2 mt-4"><a (click)="openContact(theCons.id)">View Complete Infomation</a></p> -->

                </div>
                <!-- properties -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg new-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Add New Contact
                                </p>
                                <p class="fs-16 ff-s fc-lightblack">Input Contact Information</p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label class="fs-16 ff-p fc-black">Select Account</label>
                        <select class="form-control topform">
                            <option value="{{acc.id}}" *ngFor="let acc of accounts">{{acc.accountName}}</option>
                        </select>
                    </div>

                    <div class="col-12 mt-4 mb-3">
                        <p class="fc-green ff-p fs-18 fw-6 m-0">
                            Contact Infomation
                        </p>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Name</label>
                        <div class="input-group leadform">
                            <div class="input-group-prepend">
                                <select name="" id="" class="form-control">
                                    <option value="">Miss</option>
                                    <option value="">Mrs</option>
                                    <option value="">Mr</option>
                                </select>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Designation</label>
                        <input type="text" class="form-control botform">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Email Address</label>
                        <input type="text" class="form-control botform">

                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Phone Number</label>
                        <div class="input-group leadform">
                            <div class="input-group-prepend">
                                <select name="" id="" class="form-control">
                                    <option value="">+234</option>
                                    <option value="">+234</option>
                                    <option value="">+234</option>
                                </select>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Skype ID</label>
                        <input type="text" class="form-control botform">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Teams ID</label>
                        <input type="text" class="form-control botform">
                    </div>
                    <div class="col-lg-12 py-3">
                        <p class="m-0 fc-red fs-13 ff-s">**Calls can only be made from CRMHUB to Microsoft Teams and
                            Skype</p>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="text-right ">
                            <button class="btn btn-blue px-3">Create</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg import-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Import Contacts
                                </p>
                                <p class="fs-16 ff-s fc-lightblack">Upload Contact Information</p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="uploadfile" (click)="fileInput.click()" appDragDrop
                            (onFileDropped)="uploadFile($event)">
                            <img src="assets/images/cloud_download_black.svg" alt="">
                            <p class="text-center fs-13 ff-s fw-4 mt-4">Drop files to upload or click</p>
                            <p class="py-5 text-center">
                                <button class="btn btn-blue px-3" (click)="fileInput.click()">Upload Files</button>
                            </p>
                            <p class="text-center fs-14 ff-s fc-lightblack">
                                You can import up to 5000 records through an
                                .xls or .xlsx file. To import more
                                than 5000 records at a time, use a .csv file.</p>
                            <input hidden type="file" multiple #fileInput (change)="uploadFile($event.target.files)">

                        </div>
                    </div>
                    <div class="col-12">
                        <p class="text-right fw-6 ff-s fs-13 fc-green"><a class="fw-6 ff-s fs-13 fc-green"
                                href="assets/images/Contact_Template.xlsx" download><span class="mr-2"><img
                                        src="assets/images/save.svg" alt=""></span>Download sample file</a></p>
                    </div>
                    <!-- <div class="col-12">
                        <p class="m-o fs-14 ff-s fc-black">What do you want to do with the records in this file?</p>
                    </div>
                    <div class="col-lg-5 mb-3">
                        <select name="" id="" class="form-control botform">
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-12">
                        <p class="m-o fs-14 ff-s fc-black">Assign initial follow up tasks</p>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <select name="" id="" class="form-control botform">
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div> -->
                    <div class="col-12">
                        <p class="m-o fs-13 ff-s fc-red">**Existing Contacts are identified by using name and Account
                        </p>
                    </div>
                    <div class="col-12 mt-5 pt-5">
                        <p class="text-right">
                            <button class="btn btn-blue px-3" (click)="importContacts()"
                                data-dismiss="modal">Import</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="success-div" *ngIf="jsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your contact has been
                            Junked
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success-junk.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-clear mr-3" (click)="closejSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="success-div" *ngIf="isuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            New Contacts have been
                            imported
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-blue" (click)="closeiSuccess()">See All Contacts</button>

                </div>
            </div>
        </div>
    </div>
</div>