<div class="row">
    <div class="col-12 pt-3 mb-4">
        <div class="d-flex align-items-center">
            <div class="mr-2">
                <a><img src="assets/images/home.svg" alt=""></a>
            </div>
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Dashboard</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <p class="fc-lightgrey fs-16 ff-p">Welcome back <span class="fw-7">Adewale</span>,</p>

    </div>
    <div class="col-12 mb-3">
        <p class="fs-25 fc-dblue ff-p fw-7 mb-3">Dashboard</p>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <p class="m-0 fs-16 ff-p fc-lightblack">Access real-time reports on your activities below.</p>
            </div>
            <div>
                <div class="customise d-flex">
                    <div class="orange"><img src="assets/images/tool-white.png" alt=""></div>
                    <div class="px-2 pt-2">Customize dashboard</div>
                </div>
            </div>
        </div>
    </div>



    <!-- crm review  -->
    <div class="col-12 mb-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="green-top p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="m-0 fs-16 fc-black ff-p">CRM Overview</p>
                        </div>
                        <div>
                            <select class="form-control white-form">
                                <option value="this week">This Week</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-box greenn p-3">
                    <div class="d-flex justify-content-between">
                        <div class="pt-3">
                            <p class="m-0 fs-15 ff-p text-white">Leads Coversion Ratio</p>
                            <p class="m-0 fs-32 ff-p fw-7 text-white">45</p>
                        </div>
                        <div>
                            <img src="assets/images/icon1.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div></div>
                        <div class="pt-3">
                            <p class="m-0 fs-14 text-white ff-p"><span class="mr-2"><img
                                        src="assets/images/down-red.svg" alt=""></span>-2.2%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-box p-3">
                    <div class="d-flex justify-content-between">
                        <div class="pt-3">
                            <p class="m-0 fs-15 ff-p fc-dblue">New Leads</p>
                            <p class="m-0 fs-32 ff-p fw-7 fc-dblue">45</p>
                        </div>
                        <div>
                            <img src="assets/images/icon2.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div></div>
                        <div class="pt-3">
                            <p class="m-0 fs-14 fc-dblue ff-p"><span class="mr-2"><img src="assets/images/down-red.svg"
                                        alt=""></span>-2.2%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-box p-3">
                    <div class="d-flex justify-content-between">
                        <div class="pt-3">
                            <p class="m-0 fs-15 ff-p fc-dblue">Converted Leads </p>
                            <p class="m-0 fs-32 ff-p fw-7 fc-dblue">45</p>
                        </div>
                        <div>
                            <img src="assets/images/icon3.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div></div>
                        <div class="pt-3">
                            <p class="m-0 fs-14 fc-dblue ff-p"><span class="mr-2"><img src="assets/images/down-red.svg"
                                        alt=""></span>-2.2%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="dash-box p-3">
                    <div class="d-flex justify-content-between">
                        <div class="pt-3">
                            <p class="m-0 fs-15 ff-p fc-dblue">Deals Won</p>
                            <p class="m-0 fs-32 ff-p fw-7 fc-dblue">45</p>
                        </div>
                        <div>
                            <img src="assets/images/icon4.svg" alt="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div></div>
                        <div class="pt-3">
                            <p class="m-0 fs-14 fc-dblue ff-p"><span class="mr-2"><img src="assets/images/down-red.svg"
                                        alt=""></span>-2.2%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- crm review  -->


    <!-- Customer Engagement -->
    <div class="col-12 mb-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="green-top p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="m-0 fs-16 fc-black ff-p">Customer Engagement</p>
                        </div>
                        <div>
                            <select class="form-control white-form">
                                <option value="this week">This Week</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="whitebox">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Customer Engagement -->


    <!-- Sales Cycle -->
    <div class="col-12 mb-3">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="green-top p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p class="m-0 fs-16 fc-black ff-p">Sales Cycle</p>
                        </div>
                        <div>
                            <select class="form-control white-form">
                                <option value="this week">This Week</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7"></div>
            <div class="col-lg-5">
                <div class="whitebox">
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Sales Cycle -->
</div>