<div class="row">
    <div class="col-lg-8 pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="topcontact">
                    <div class="inner p-4">
                        <p class="fs-32 text-white ff-p">Accounts</p>
                        <p class="fs-16 text-white ff-p mb-4">Manage your Accounts easily</p>
                        <div class="d-flex">
                            
                            <button class="btn btn-out-white" data-toggle="modal" data-target=".new-modal"><img
                                    src="assets/images/add.svg" alt="" class="mr-2">Add New
                                Account</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <ul class="nav nav-tabs leads align-items-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab"
                            aria-controls="home" aria-selected="true">All Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#my" role="tab"
                            aria-controls="profile" aria-selected="false">My Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#junk" role="tab"
                            aria-controls="contact" aria-selected="false">Junk Accounts</a>
                    </li>
                    <li class="ml-auto">
                        <div class="dropdown">
                            <a class="filter text-right" id="filter">
                                <img src="assets/images/date filter.svg" alt="">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right filter-drop">
                                <div class="top px-3 py-3">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">
                                            <img src="assets/images/filter.svg" alt="">
                                        </div>
                                        <div>
                                            <p class="m-0 fw-7 fs-18 ff-p fc-green">Filter your Accounts</p>
                                            <p class="m-0 fs-12 ff-s fc-black">Choose your preferred metrics to display
                                                accounts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3">
                                    <p class="mb-3 fs-14 ff-s fw-6 fc-blue">Filter By:</p>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck1">Name</label>
                                    </div>

                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck4">Institution
                                            Type</label>
                                    </div>

                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck5">Website</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck6">Transaction
                                            Volume</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck7">Estimated Annual
                                            Income</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck8">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck8">Date
                                            Converted</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck9">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck9">Number of
                                            Products</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck10">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck10">Account
                                            Owner</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="allAccounts.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>ACCOUNT NAME</th>
                                            <th>WEBSITE</th>
                                            <th>INSTITUTION TYPE</th>
                                            <th>DEAL
                                                <a class="more text-right float-right" id="more">
                                                    <img src="assets/images/more-table.svg" alt="">
                                                </a>


                                                <div class="dropdown-menu dropdown-menu-right more-drop">
                                                    <div class="top px-4 py-3">
                                                        <p class="m-0 fw-7 fs-14 ff-p fc-green">MORE FIELDS</p>
                                                        <p class="m-0 fs-10 ff-s fc-black">You can only select 3 fields
                                                        </p>
                                                    </div>
                                                    <div class="px-4 py-3">

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck6">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck6">Website</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck7">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck7">Institution Type</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck8">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck8">Deal Status</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck9">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck9">Date Converted</label>
                                                        </div>

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck1">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck1">Account Owner</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck2">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck2">Number of Products</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck3">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck3">Transaction Volume</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck4">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck4">Est. Transaction Value</label>
                                                        </div>

                                                    </div>

                                                </div>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let account of allAccounts; let i = index"
                                                (click)="getAcc(account.id)">
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="image" *ngIf="account.imageString">
                                                                <img [src]="'data:image/png;base64, ' + account.imageString | trustedUrl"
                                                                    alt="">
                                                            </div>
                                                            <div class="image" *ngIf="account.imageString == null">
                                                                <img src="assets/images/companyalt.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">
                                                                {{account.accountName}}</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-4 fw-6 fc-darkblue m-0 tx-u pt-2">
                                                        <a *ngIf="account.website">{{account.website}}</a>
                                                        <a *ngIf="account.website == null">--</a>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-15 fw-6 fc-black m-0 pt-2">
                                                        {{account.institutionType}}</p>
                                                </td>
                                                <td>
                                                    <div *ngIf="account.dealStatus == 'Active'"
                                                        class="dealstatus activedeal mt-2">active</div>
                                                    <div *ngIf="account.dealStatus == 'Inactive'"
                                                        class="dealstatus inactivedeal mt-2">inactive</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="allAccounts.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no accounts in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="my" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table dashboard" *ngIf="myAccounts.length > 0">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>ACCOUNT NAME</th>
                                            <th>WEBSITE</th>
                                            <th>INSTITUTION TYPE</th>
                                            <th>DEAL
                                                <a class="more text-right float-right" id="more">
                                                    <img src="assets/images/more-table.svg" alt="">
                                                </a>


                                                <div class="dropdown-menu dropdown-menu-right more-drop">
                                                    <div class="top px-4 py-3">
                                                        <p class="m-0 fw-7 fs-14 ff-p fc-green">MORE FIELDS</p>
                                                        <p class="m-0 fs-10 ff-s fc-black">You can only select 3 fields
                                                        </p>
                                                    </div>
                                                    <div class="px-4 py-3">

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck6">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck6">Website</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck7">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck7">Institution Type</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck8">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck8">Deal Status</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck9">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck9">Date Converted</label>
                                                        </div>

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck1">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck1">Account Owner</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck2">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck2">Number of Products</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck3">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck3">Transaction Volume</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck4">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck4">Est. Transaction Value</label>
                                                        </div>

                                                    </div>

                                                </div>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let account of myAccounts; let i = index"
                                                (click)="getAcc(account.id)">
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="image" *ngIf="account.imageString">
                                                                <img [src]="'data:image/png;base64, ' + account.imageString | trustedUrl"
                                                                    alt="">
                                                            </div>
                                                            <div class="image" *ngIf="account.imageString == null">
                                                                <img src="assets/images/companyalt.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">
                                                                {{account.accountName}}</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-4 fw-6 fc-darkblue m-0 tx-u pt-2">
                                                        <a *ngIf="account.website">{{account.website}}</a>
                                                        <a *ngIf="account.website == null">--</a>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-15 fw-6 fc-black m-0 pt-2">
                                                        {{account.institutionType}}</p>
                                                </td>
                                                <td>
                                                    <div *ngIf="account.dealStatus == 'Active'"
                                                        class="dealstatus activedeal mt-2">active</div>
                                                    <div *ngIf="account.dealStatus == 'Inactive'"
                                                        class="dealstatus inactivedeal mt-2">inactive</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="myAccounts.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no accounts in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="junk" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="junkAccounts.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>ACCOUNT NAME</th>
                                            <th>WEBSITE</th>
                                            <th>INSTITUTION TYPE</th>
                                            <th>DEAL
                                                <a class="more text-right float-right" id="more">
                                                    <img src="assets/images/more-table.svg" alt="">
                                                </a>


                                                <div class="dropdown-menu dropdown-menu-right more-drop">
                                                    <div class="top px-4 py-3">
                                                        <p class="m-0 fw-7 fs-14 ff-p fc-green">MORE FIELDS</p>
                                                        <p class="m-0 fs-10 ff-s fc-black">You can only select 3 fields
                                                        </p>
                                                    </div>
                                                    <div class="px-4 py-3">

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck6">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck6">Website</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck7">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck7">Institution Type</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck8">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck8">Deal Status</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck9">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck9">Date Converted</label>
                                                        </div>

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck1">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck1">Account Owner</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck2">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck2">Number of Products</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck3">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck3">Transaction Volume</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck4">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck4">Est. Transaction Value</label>
                                                        </div>

                                                    </div>

                                                </div>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let account of junkAccounts; let i = index"
                                                (click)="getAcc(account.id)">
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="image" *ngIf="account.imageString">
                                                                <img [src]="'data:image/png;base64, ' + account.imageString | trustedUrl"
                                                                    alt="">
                                                            </div>
                                                            <div class="image" *ngIf="account.imageString == null">
                                                                <img src="assets/images/companyalt.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">
                                                                {{account.accountName}}</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-4 fw-6 fc-darkblue m-0 tx-u pt-2">
                                                        <a *ngIf="account.website">{{account.website}}</a>
                                                        <a *ngIf="account.website == null">--</a>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-15 fw-6 fc-black m-0 pt-2">
                                                        {{account.institutionType}}</p>
                                                </td>
                                                <td>
                                                    <div *ngIf="account.dealStatus == 'Active'"
                                                        class="dealstatus activedeal mt-2">active</div>
                                                    <div *ngIf="account.dealStatus == 'Inactive'"
                                                        class="dealstatus inactivedeal mt-2">inactive</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="junkAccounts.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no accounts in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sidediv">
            <div class="p-3">
                <div class="d-flex mb-2">
                    <div class="mr-2">
                        <img src="assets/images/info.svg" alt="">
                    </div>
                    <div>
                        <p class="m-0 fs-16 fc-green ff-p">Info</p>
                    </div>
                </div>
                <div class="orangeline"></div>
                <div class="littleorange"></div>
                <div class="emptystate" *ngIf="!isSelected">
                    <img src="assets/images/emptylead.svg" alt="">
                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                        Select an account to display account
                        information
                    </p>
                </div>

                <!-- properties -->
                <div class="props pt-2" *ngIf="isSelected">
                    <div class="top-prop px-2 py-1">
                        <div class="d-flex align-items-center">
                            <div class="py-2">
                                <div class="image" *ngIf="theAccount?.imageString">
                                    <img [src]="'data:image/png;base64, ' + theAccount?.imageString | trustedUrl"
                                        alt="">
                                </div>
                                <div class="image" *ngIf="theAccount?.imageString == null">
                                    <img src="assets/images/companyalt.svg" alt="">
                                </div>
                            </div>
                            <div class="p-2">
                                <p class="m-0 ff-s fw-6 fs-15 fc-black">{{theAccount?.accountName}}</p>
                            </div>
                        </div>

                    </div>

                    <div class="row py-2">
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Institution Type:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-black fw-6 fs-14 ff-s">{{theAccount?.institutionType}}</p>
                        </div>
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Trxn Vol.</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-black fw-6 fs-14 ff-s">{{theAccount?.transactionVolume}}</p>
                        </div>
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Est. Transaction Valu:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-black fw-6 fs-14 ff-s" *ngIf="theAccount?.estimatedTransactionValue">
                                {{theAccount?.estimatedTransactionValue}}</p>
                            <p class="m-0 fc-black fw-6 fs-14 ff-s"
                                *ngIf="theAccount?.estimatedTransactionValue == null">null</p>
                        </div>
                        <div class="col-5 mb-3">
                            <p class="m-0 fc-lightblack fs-14 ff-s">Address:</p>
                        </div>
                        <div class="col-7 mb-3">
                            <p class="m-0 fc-black fw-6 fs-14 ff-s">57 Marina, Lagos Island, Lagos, Nigeria</p>
                        </div>
                    </div>
                    <div class="info mb-3">
                        <div class="top-prop b-5 p-2">
                            <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                        src="assets/images/accountcontact.svg" alt=""></span>Contact</p>
                        </div>
                        <div class="row pl-2">
                            <div class="col-12 mb-3" *ngFor="let contact of theAccount?.contacts">
                                <div class="d-flex align-items-center justify-content-between p-2">
                                    <div>
                                        <div class="prop-initials">
                                            {{contact?.firstName.substring(0,1)}}
                                        </div>
                                    </div>
                                    <div>
                                        <p class="m-0 fs-15 ff-s fc-black fw-6">{{contact?.firstName}}
                                            {{contact?.lastName}}</p>
                                    </div>
                                    <div>
                                        <a href="tel:{{contact?.phoneNumber}}">
                                            <img src="assets/images/bcall.svg" alt="">
                                        </a>
                                    </div>
                                    <div>
                                        <a>
                                            <img src="assets/images/bmessage.svg" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="info">
                        <div class="top-prop b-5 p-2">
                            <div class="d-flex align-items-center">
                                <div class="mr-2"><img src="assets/images/contactdeals.svg" alt=""></div>
                                <div>
                                    <p class="m-0 fw-4 ff-s fc-black fs-15">Deals</p>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex">
                            <div class="p-2">
                                <div class="deal">
                                    N
                                </div>
                            </div>
                            <div class="p-2">
                                <p class="mb-2 ff-s fw-6 fs-14 fc-dblue">Negotiation/Review</p>
                                <div class="d-flex mb-4">
                                    <div class="product mr-2">mCash</div>
                                    <div class="product mr-2">NIP</div>
                                </div>

                            </div>
                            <div class="p-2 ml-auto">
                                <p></p>
                                <p class="m-0 ff-s fs-12 fc-6blue">
                                    25-May-20
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="btn btn-green mr-3" (click)="openAccount(theAccount.id)">View Complete
                            Info</button>
                        <div class="dropdown">
                            <button class="btn btn-more dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/more-green.svg" alt="">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                    (click)="junkAccount(theAccount.id)">Junk
                                    Account</a>
                                <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                    (click)="reactivateAccount(theAccount.id)">Reactivate Account</a>
                                <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                    (click)="deleteAccount(theAccount.id)">Delete Account</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- properties -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg new-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Add New Contact
                                </p>
                                <p class="fs-16 ff-s fc-lightblack">Input Contact Information</p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label class="fs-16 ff-p fc-black">Select Account</label>
                        <select class="form-control topform">
                            <option value="{{acc.id}}" *ngFor="let acc of accounts">{{acc.accountName}}</option>
                        </select>
                    </div>

                    <div class="col-12 mt-4 mb-3">
                        <p class="fc-green ff-p fs-18 fw-6 m-0">
                            Contact Infomation
                        </p>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Name</label>
                        <div class="input-group leadform">
                            <div class="input-group-prepend">
                                <select name="" id="" class="form-control">
                                    <option value="">Miss</option>
                                    <option value="">Mrs</option>
                                    <option value="">Mr</option>
                                </select>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Designation</label>
                        <input type="text" class="form-control botform">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Email Address</label>
                        <input type="text" class="form-control botform">

                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Phone Number</label>
                        <div class="input-group leadform">
                            <div class="input-group-prepend">
                                <select name="" id="" class="form-control">
                                    <option value="">+234</option>
                                    <option value="">+234</option>
                                    <option value="">+234</option>
                                </select>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Skype ID</label>
                        <input type="text" class="form-control botform">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Teams ID</label>
                        <input type="text" class="form-control botform">
                    </div>
                    <div class="col-lg-12 py-3">
                        <p class="m-0 fc-red fs-13 ff-s">**Calls can only be made from CRMHUB to Microsoft Teams and
                            Skype</p>
                    </div>
                    <div class="col-12 mt-3">
                        <p class="text-right ">
                            <button class="btn btn-blue px-3">Create</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="success-div" *ngIf="nsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            New Account has been
                            added
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-blue" (click)="closenSuccess()">See All Accounts</button>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="success-div" *ngIf="rsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your account has been
                            Reactivated
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closerSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="success-div" *ngIf="jsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your account has been
                            Junked
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success-junk.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closejSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="success-div" *ngIf="dsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your account has been
                            Deleted
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success-junk.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closedSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>