<div class="row">
    <div class="col-lg-8 pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="topcontact">
                    <div class="inner p-4">
                        <p class="fs-32 text-white ff-p">Deals</p>
                        <p class="fs-16 text-white ff-p mb-4">Manage and update your deals easily.</p>
                        <button class="btn btn-clear import mr-2" data-toggle="modal" data-target=".import-modal"><img
                                src="assets/images/cloud_download.svg" alt="" class="mr-2"><span
                                class="text-white">Import</span></button>
                        <button class="btn btn-out-white" data-toggle="modal" data-target=".new-modal"><img
                                src="assets/images/add.svg" alt="" class="mr-2">Add New
                            Deal</button>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <ul class="nav nav-tabs leads align-items-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab"
                            aria-controls="home" aria-selected="true">All Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#my" role="tab"
                            aria-controls="profile" aria-selected="false">My Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#junk" role="tab"
                            aria-controls="contact" aria-selected="false">Junk Deals</a>
                    </li>
                    <li class="ml-auto">
                        <div class="dropdown">
                            <a class="filter text-right" id="filter">
                                <img src="assets/images/date filter.svg" alt="">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right filter-drop">
                                <div class="top px-3 py-3">
                                    <div class="d-flex align-items-center">
                                        <div class="mr-3">
                                            <img src="assets/images/filter.svg" alt="">
                                        </div>
                                        <div>
                                            <p class="m-0 fw-7 fs-18 ff-p fc-green">Filter your Leads</p>
                                            <p class="m-0 fs-12 ff-s fc-black">Choose your preferred metrics to display
                                                leads</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3">
                                    <p class="mb-3 fs-14 ff-s fw-6 fc-blue">ANALYTICS</p>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck1">Name</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck2">Phone
                                            Number</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck3">Email</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck4">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck4">Institution
                                            Type</label>
                                    </div>

                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck5">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck5">Last Activity
                                            Time</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck6">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck6">Est. Annual
                                            Income</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck7">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck7">Email
                                            Status</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck8">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck8">Lead
                                            Source</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck9">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck9">Lead
                                            Status</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck10">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck10">Lead
                                            Owner</label>
                                    </div>
                                    <div class="form-group form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck11">
                                        <label class="form-check-label ff-s fs-14" for="exampleCheck11">Date
                                            Created</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="allDeals?.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>DEAL NAME</th>
                                            <th>PRODUCTS</th>
                                            <th>STAGE</th>
                                            <th>LAST ACTIVITY

                                                <a class="more text-right float-right" id="more">
                                                    <img src="assets/images/more-table.svg" alt="">
                                                </a>


                                                <div class="dropdown-menu dropdown-menu-right more-drop">
                                                    <div class="top px-4 py-3">
                                                        <p class="m-0 fw-7 fs-14 ff-p fc-green">MORE FIELDS</p>
                                                        <p class="m-0 fs-10 ff-s fc-black">You can only select 3 fields
                                                        </p>
                                                    </div>
                                                    <div class="px-4 py-3">

                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck6">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck6">Email/Phone</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck7">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck7">Institution</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck8">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck8">Designation</label>
                                                        </div>
                                                        <div class="form-group form-check mb-3">
                                                            <input type="checkbox" class="form-check-input"
                                                                id="exampleCheck9">
                                                            <label class="form-check-label ff-s fs-14"
                                                                for="exampleCheck9">Date Created/Owner</label>
                                                        </div>

                                                    </div>

                                                </div>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let deal of allDeals" (click)="getDealById(deal.id)">
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="image" *ngIf="deal.imageString">
                                                                <img [src]="'data:image/png;base64, ' + deal.imageString | trustedUrl"
                                                                    alt="">
                                                            </div>
                                                            <div class="image" *ngIf="deal.imageString == null">
                                                                <img src="assets/images/companyalt.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">{{deal.dealName}}
                                                            </p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex mb-4 pt-2">
                                                        <div class="product mr-2"
                                                            *ngFor="let product of deal.products.slice(0,2)">
                                                            {{product?.productName}}</div>
                                                            <span
                                                            *ngIf="deal?.products.length > 2">+
                                                            {{deal?.products.length - 2}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-darkblue m-0 pt-2">{{deal.stage}}</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0"
                                                        *ngIf="deal.lastActivityDate">
                                                        {{deal.lastActivityDate | date: 'medium'}}
                                                    </p>
                                                    <p class="fs-15 fc-lightblack ff-s m-0">
                                                        -
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="allDeals?.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no deals in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="my" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="myDeals?.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>Deal name</th>
                                            <th>PRODUCTs</th>
                                            <th>STAGE</th>
                                            <th>LAST ACTIVITY</th>
                                        </thead>
                                        <tr *ngFor="let deal of myDeals" (click)="getDealById(deal.id)">
                                            <td>
                                                <div class="pt-2"><input type="checkbox"></div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="mr-2">
                                                        <div class="image" *ngIf="deal.imageString">
                                                            <img [src]="'data:image/png;base64, ' + deal.imageString | trustedUrl"
                                                                alt="">
                                                        </div>
                                                        <div class="image" *ngIf="deal.imageString == null">
                                                            <img src="assets/images/companyalt.svg" alt="">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <p class="m-0 ff-s fs-15 fw-6 fc-black">{{deal.dealName}}
                                                        </p>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex mb-4 pt-2">
                                                    <td>
                                                        <div class="d-flex mb-4 pt-2">
                                                            <div class="product mr-2"
                                                                *ngFor="let product of deal.products.slice(0,2)">
                                                                {{product?.productName}}</div>
                                                                <span
                                                                *ngIf="deal?.products.length > 2">+
                                                                {{deal?.products.length - 2}}</span>
                                                        </div>
                                                    </td>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="ff-s fs-14 fw-6 fc-darkblue m-0 pt-2">{{deal.stage}}</p>
                                            </td>
                                            <td>
                                                <p class="fs-15 fc-black fw-6 ff-s m-0" *ngIf="deal.lastActivityDate">
                                                    {{deal.lastActivityDate | date: 'medium'}}
                                                </p>
                                                <p class="fs-15 fc-lightblack ff-s m-0">
                                                    -
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="myDeals?.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no deals in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="junk" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive" *ngIf="junkDeals?.length > 0">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>Deal name</th>
                                            <th>PRODUCTs</th>
                                            <th>STAGE</th>
                                            <th>LAST ACTIVITY</th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let deal of junkDeals" (click)="getDealById(deal.id)">
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <div class="image" *ngIf="deal.imageString">
                                                                <img [src]="'data:image/png;base64, ' + deal.imageString | trustedUrl"
                                                                    alt="">
                                                            </div>
                                                            <div class="image" *ngIf="deal.imageString == null">
                                                                <img src="assets/images/companyalt.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">{{deal.dealName}}
                                                            </p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex mb-4 pt-2">
                                                        <div class="product mr-2"
                                                            *ngFor="let product of deal.products.slice(0,2)">
                                                            {{product?.productName}}</div>
                                                            <span
                                                            *ngIf="deal?.products.length > 2">+
                                                            {{deal?.products.length - 2}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-darkblue m-0 pt-2">{{deal.stage}}</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0"
                                                        *ngIf="deal.lastActivityDate">
                                                        {{deal.lastActivityDate | date: 'medium'}}
                                                    </p>
                                                    <p class="fs-15 fc-lightblack ff-s m-0">
                                                        -
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="emptystate2" *ngIf="junkDeals?.length == 0">
                                    <img src="assets/images/emptylead.svg" alt="">
                                    <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                                        There no deals in this category
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sidediv">
            <div class="p-3">
                <div class="d-flex mb-2">
                    <div class="mr-2">
                        <img src="assets/images/info.svg" alt="">
                    </div>
                    <div>
                        <p class="m-0 fs-16 fc-green ff-p">Info</p>
                    </div>
                </div>
                <div class="orangeline"></div>
                <div class="littleorange"></div>

            </div>
            <div class="emptystate" *ngIf="!isSelected">
                <img src="assets/images/emptylead.svg" alt="">
                <p class="text-center fw-6 ff-s fs-15 px-3 pt-4">
                    Select a deal to display deal
                    information
                </p>
            </div>

            <!-- properties -->
            <div class="px-3" *ngIf="isSelected">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs deall align-items-center" id="myTab" role="tablist">
                            <li class="nav-item w-50 text-center">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#deal" role="tab"
                                    aria-controls="home" aria-selected="true">Deal Info</a>
                            </li>
                            <li class="nav-item w-50 text-center">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stage" role="tab"
                                    aria-controls="profile" aria-selected="false">Stage History</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="deal" role="tabpanel">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="top-prop px-2 py-1">
                                            <div class="d-flex align-items-center">
                                                <div class="py-2">
                                                    <img src="assets/images/uba.svg" alt="">
                                                </div>
                                                <div class="p-2">
                                                    <p class="m-0 ff-s fw-6 fs-15 fc-black">{{aDeal?.dealName}}</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row py-2">
                                            <div class="col-5 mb-1">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Stage:</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s">{{aDeal?.stage}}</p>
                                            </div>
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Deal Value:</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s" *ngIf="aDeal?.dealValue">
                                                    {{aDeal?.dealValue}}</p>
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s"
                                                    *ngIf="aDeal?.dealValue == null">-</p>
                                            </div>
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Est Income:</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s">{{aDeal?.estimatedRevenue}}</p>
                                            </div>
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Probability (%):</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s" *ngIf="aDeal?.probability">
                                                    {{aDeal?.probability}}%</p>
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s"
                                                    *ngIf="aDeal?.probability == null">NA</p>
                                            </div>
                                            <div class="col-2 mb-1">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Products:</p>
                                            </div>
                                            <div class="col-10 mb-1">
                                                <div class="d-flex row px-3">
                                                    <div class="product mr-2" (click)="openProduct(product.id)"
                                                        *ngFor="let product of aDeal.products.slice(0,2)">
                                                        {{product?.productName}} </div>
                                                        <div
                                                            *ngIf="aDeal?.products.length > 2">+
                                                            {{aDeal?.products.length - 2}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="col-12">
                                        <div class="info mb-1">
                                            <div class="top-prop b-5 p-2">
                                                <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                                            src="assets/images/contactcoins.svg" alt=""></span>Account
                                                </p>
                                            </div>
                                            <div class="row pl-2">
                                                <div class="col-12 mb-1">
                                                    <div class="d-flex align-items-center">
                                                        <div class="py-2">
                                                            <div class="image" *ngIf="aDeal?.imageString">
                                                                <img [src]="'data:image/png;base64, ' + aDeal?.imageString | trustedUrl"
                                                                    alt="">
                                                            </div>
                                                            <div class="image" *ngIf="aDeal?.imageString == null">
                                                                <img src="assets/images/companyalt.svg" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="p-2">
                                                            <p class="m-0 ff-s fw-6 fs-15 fc-black"
                                                                (click)="openAccount(aDeal.account.id)">
                                                                {{aDeal?.account.accountName}}</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="info mb-1">
                                            <div class="top-prop b-5 p-2">
                                                <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                                            src="assets/images/accountcontact.svg" alt=""></span>Contact
                                                </p>
                                            </div>
                                            <div class="row pl-2">
                                                <div class="col-12 mb-3"
                                                    >
                                                    <div class="d-flex align-items-center justify-content-between p-2">
                                                        <div (click)="openContact(aDeal.account.contacts[0].id)">
                                                            <div class="prop-initials">
                                                                {{aDeal?.accountContact.firstName.substring(0,1)}}
                                                            </div>
                                                        </div>
                                                        <div (click)="openContact(aDeal.account.contacts[0].id)">
                                                            <p class="m-0 fs-15 ff-s fc-black fw-6">
                                                                {{aDeal?.accountContact.firstName}}
                                                                {{aDeal?.accountContact.lastName}} </p>
                                                        </div>
                                                        <div>
                                                            <a href="tel:{{aDeal?.accountContact.phoneNumber}}" *ngIf="aDeal?.accountContact.phoneNumber">
                                                                <img src="assets/images/bcall.svg" alt="">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a href="mailto:{{aDeal?.accountContact.email}}" *ngIf="aDeal?.accountContact.email">
                                                                <img src="assets/images/bmessage.svg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center mt-4">
                                            <button class="btn btn-green mr-3" (click)="openDeal(aDeal.id)">View
                                                Complete Info</button>
                                            <div class="dropdown">
                                                <button class="btn btn-more dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    <img src="assets/images/more-green.svg" alt="">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                                        (click)="junkDeal(aDeal.id)">Junk
                                                        Deal</a>
                                                    <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                                        (click)="reactivateDeal(aDeal.id)">Reactivate Deal</a>
                                                    <a class="dropdown-item fc-black fw-6 fs-14 ff-s"
                                                        (click)="deleteDeal(aDeal.id)">Delete Deal</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="stage" role="tabpanel"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- properties -->
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg new-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Add New Deal
                                </p>
                                <p class="fs-16 ff-s fc-lightblack">Input Deal Information</p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label class="fs-16 ff-p fc-black">Select Account</label>
                        <select class="form-control topform" [(ngModel)]="account" (change)="getAccountById()">
                            <option value="{{account.id}}" *ngFor="let account of accounts">{{account.accountName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-4 mb-3"> 
                        <label class="fs-16 ff-p fc-black">Deal Owner</label>
                        <select class="form-control topform" [(ngModel)]="owner">
                            <option value="{{account.id}}" *ngFor="let account of users">{{account.fullName}}</option>
                        </select>
                    </div>
                    <div class="col-lg-4 mb-3">
                        <label class="fs-16 ff-p fc-black">Contact Person</label>
                        <select class="form-control topform" [(ngModel)]="contact">
                            <option value="{{account.id}}" *ngFor="let account of contacts">{{account.firstName}}
                                {{account.lastName}}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-4 mb-3">
                        <p class="fc-green ff-p fs-18 fw-6 m-0">
                            Deal Information
                        </p>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Deal Name</label>
                        <input type="text" class="form-control botform" [(ngModel)]="name">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Prospective Products</label>
                        <ng-multiselect-dropdown [placeholder]="' '" [data]="dropdownList" [(ngModel)]="products"
                            [settings]="dropdownSettings">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Stage</label>
                        <select class="form-control botform" [(ngModel)]="stage">
                            <option value="0">Negotiation</option>
                            <option value="1">Proposal</option>
                            <option value="2">Identification</option>
                            <option value="3">Value Proposition</option>
                            <option value="4">Needs Analysis</option>
                            <option value="5">Qualification</option>
                            <option value="6">Won</option>
                            <option value="7">Lost</option>
                            <option value="8">Lost to Competition</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Deal Value (NGN)</label>
                        <input type="text" class="form-control botform money" [(ngModel)]="dealValue">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Estimated Income</label>
                        <input type="text" class="form-control botform money" [(ngModel)]="estIncome">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Probability (%)</label>
                        <input type="text" class="form-control botform" [(ngModel)]="probability">
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Deal Status</label>
                        <select class="form-control botform" [(ngModel)]="status">
                            <option value="0">Active</option>
                            <option value="1">Inactive</option>
                        </select>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Estimated Close Date</label>
                        <input type="date" class="form-control botform" [(ngModel)]="closeDate">
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="" class="fs-16 fc-black ff-p">Note</label>
                        <input type="text" class="form-control botform" [(ngModel)]="note">
                    </div>
                    <div class="col-12 mt-3">
                        <p class="text-right ">
                            <button class="btn btn-blue px-3" (click)="createDeal()"
                                data-dismiss="modal">Create</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg import-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body px-lg-5 px-3 py-4">
                <div class="row">
                    <div class="col-12 mb-5">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="fc-green ff-p fs-25 fw-6 m-0">
                                    Import New Deals
                                </p>
                                <p class="fs-16 ff-s fc-lightblack">Upload Deal Information</p>
                            </div>
                            <div>
                                <a data-dismiss="modal"><img src="assets/images/close.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="orangeline"></div>
                        <div class="deeporange"></div>
                    </div>
                    <div class="col-12 mb-3">
                        <p class="m-0 fw-4 fs-15 ff-s">Upload Files </p>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="uploadfile" (click)="fileInput.click()" appDragDrop
                            (onFileDropped)="uploadFile($event)">
                            <img src="assets/images/cloud_download_black.svg" alt="">
                            <p class="text-center fs-13 ff-s fw-4 mt-4">Drop files to upload or click</p>
                            <p class="py-5 text-center">
                                <button class="btn btn-blue px-3" (click)="fileInput.click()">Upload Files</button>
                            </p>
                            <p class="text-center fs-14 ff-s fc-lightblack">
                                You can import up to 5000 records through an
                                .xls or .xlsx file. To import more
                                than 5000 records at a time, use a .csv file.</p>
                            <input hidden type="file" multiple #fileInput (change)="uploadFile($event.target.files)">

                        </div>
                    </div>
                    <div class="col-12">
                        <p class="text-right fw-6 ff-s fs-13 fc-green"><a class="fw-6 ff-s fs-13 fc-green"
                                href="assets/images/Deal_Template.xlsx" download><span class="mr-2"><img
                                        src="assets/images/save.svg" alt=""></span>Download sample file</a></p>
                    </div>
                    <div class="col-12 mt-5 pt-5">
                        <p class="text-right">
                            <button class="btn btn-blue px-3" (click)="importDeals()"
                                data-dismiss="modal">Import</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="success-div" *ngIf="nsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            New deal has been added
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-clear mr-3" (click)="closenSuccess()" data-toggle="modal"
                        data-target=".new-modal">Add New Deal</button> <button class="btn btn-blue"
                        (click)="closenSuccess()">See All Deals</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="success-div" *ngIf="isuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            New Deals have been
                            imported
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-blue" (click)="closeiSuccess()">See All Deals</button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="success-div" *ngIf="rsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your deal has been
                            Reactivated
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closerSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="success-div" *ngIf="jsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your deal has been
                            Junked
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success-junk.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closejSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="success-div" *ngIf="dsuccess">
    <div class="whitediv">
        <div class="row py-5">
            <div class="col-lg-12 mb-4 ">
                <div class="d-flex align-items-center">
                    <div class="pl-5">
                        <p class="fs-32 ff-s fc-lgreen fw-7">Success</p>
                        <p class="fc-black fs-16 ff-s fw-4">
                            Your deal has been
                            Deleted
                        </p>
                    </div>
                    <div class="ml-auto">
                        <img src="assets/images/success-junk.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pl-5">
                    <button class="btn btn-green mr-3" (click)="closedSuccess()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>