.nav-tabs.leads,
.nav-tabs.deall {
    border: none;
}

.nav-tabs.leads .nav-link {
    padding: 0;
    margin-right: 20px;
    border: none;
    font-family: Segoe UI;
    font-size: 16px;
    line-height: 21px;
    color: rgba(43, 44, 45, 0.5);
}

.nav-tabs.leads .nav-link::after {
    content: '';
    border-bottom: 2px solid #fff;
    width: 52px;
    display: block;
}

.nav-tabs.leads .nav-link.active {
    font-weight: bold;
    color: #26727E;
}

.nav-tabs.leads .nav-link.active::after {
    border-bottom: 2px solid #26727E;
}

.nav-tabs.deall {
    border-radius: 2px;
}

.nav-tabs.deall .nav-link {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    border: none;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    background: #F4F4F4;
    border-radius: 2px;
}

.nav-tabs.deall .nav-link.active {
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(136, 147, 165, 0.07);
    border-radius: 2px;
    color: #006877;
}

.topcontact {
    border-radius: 7px;
    background: url('../../../../assets/images/deals.png');
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.topcontact .inner {
    background: linear-gradient(104.03deg, #263F6D 0.92%, #263F6D 50.34%, rgba(38, 63, 109, 0.907464) 56.98%, rgba(38, 63, 109, 0.8) 63.76%, rgba(38, 63, 109, 0.1) 99%);
    min-height: 200px;
    border-radius: 7px;
}


.step {

    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: cream;
}

.v-stepper {
    position: relative;
    /*   visibility: visible; */
}


/* regular step */
.step .circle {
    background-color: white;
    border: 3px solid gray;
    border-radius: 100%;
    width: 20px;
    /* +6 for border */
    height: 20px;
    display: inline-block;
}

.step .line {
    top: 23px;
    left: 12px;
    /*   height: 120px; */
    height: 100%;

    position: absolute;
    border-left: 3px solid gray;
}

.step.completed .circle {
    visibility: visible;
    background-color: rgb(6, 150, 215);
    border-color: rgb(6, 150, 215);
}

.step.completed .line {
    border-left: 3px solid rgb(6, 150, 215);
}

.step.active .circle {
    visibility: visible;
    border-color: rgb(6, 150, 215);
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
    /*     visibility: hidden; */
    /*   height: 150%; */
    top: 0;
    height: 150%;
}


.step:last-child .line {
    border-left: 3px solid white;
    z-index: -1;
    /* behind the circle to completely hide */
}