<div class="row">
    <div class="col-lg-8 pt-5">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="topcontact">
                    <div class="inner p-4">
                        <p class="fs-32 text-white ff-p">Deals</p>
                        <p class="fs-16 text-white ff-p mb-4">Manage and update your deals easily.</p>
                        <button class="btn btn-clear"><img src="assets/images/cloud_download.svg" alt=""
                                class="mr-2"><span class="text-white">Import</span></button>
                        <button class="btn btn-out-white"><img src="assets/images/add.svg" alt="" class="mr-2">Add New
                            Deal</button>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-3">
                <ul class="nav nav-tabs leads align-items-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#all" role="tab"
                            aria-controls="home" aria-selected="true">All Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#my" role="tab"
                            aria-controls="profile" aria-selected="false">My Deals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#junk" role="tab"
                            aria-controls="contact" aria-selected="false">Junk Deals</a>
                    </li>
                    <li class="ml-auto">
                        <a href="" class="nav-link">
                            <img src="assets/images/date filter.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>Deal name</th>
                                            <th>PRODUCTs</th>
                                            <th>STAGE</th>
                                            <th>LAST ACTIVITY</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <img src="assets/images/uba.svg" alt="">
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">UBA</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex mb-4 pt-2">
                                                        <div class="product mr-2">mCash</div>
                                                        <div class="product mr-2">NIP</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-darkblue m-0 pt-2">Needs Analysis</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0">
                                                        03 Aug 2020
                                                    </p>
                                                    <p class="fs-15 fc-lightblack ff-s m-0">
                                                        Oluwaseun Wey
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="my" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>Deal name</th>
                                            <th>PRODUCTs</th>
                                            <th>STAGE</th>
                                            <th>LAST ACTIVITY</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <img src="assets/images/uba.svg" alt="">
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">UBA</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex mb-4 pt-2">
                                                        <div class="product mr-2">mCash</div>
                                                        <div class="product mr-2">NIP</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-darkblue m-0 pt-2">Needs Analysis</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0">
                                                        03 Aug 2020
                                                    </p>
                                                    <p class="fs-15 fc-lightblack ff-s m-0">
                                                        Oluwaseun Wey
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="junk" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table dashboard">
                                        <thead>
                                            <th>
                                                <input type="checkbox">
                                            </th>
                                            <th>Deal name</th>
                                            <th>PRODUCTs</th>
                                            <th>STAGE</th>
                                            <th>LAST ACTIVITY</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="pt-2"><input type="checkbox"></div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div class="mr-2">
                                                            <img src="assets/images/uba.svg" alt="">
                                                        </div>
                                                        <div>
                                                            <p class="m-0 ff-s fs-15 fw-6 fc-black">UBA</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex mb-4 pt-2">
                                                        <div class="product mr-2">mCash</div>
                                                        <div class="product mr-2">NIP</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="ff-s fs-14 fw-6 fc-darkblue m-0 pt-2">Needs Analysis</p>
                                                </td>
                                                <td>
                                                    <p class="fs-15 fc-black fw-6 ff-s m-0">
                                                        03 Aug 2020
                                                    </p>
                                                    <p class="fs-15 fc-lightblack ff-s m-0">
                                                        Oluwaseun Wey
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="sidediv">
            <div class="p-3 d-none">
                <div class="d-flex mb-2">
                    <div class="mr-2">
                        <img src="assets/images/info.svg" alt="">
                    </div>
                    <div>
                        <p class="m-0 fs-16 fc-green ff-p">Info</p>
                    </div>
                </div>
                <div class="orangeline"></div>
                <div class="emptystate">
                    <img src="assets/images/emptylead.svg" alt="">
                </div>
            </div>

            <!-- properties -->
            <div class="p-3">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs deall align-items-center" id="myTab" role="tablist">
                            <li class="nav-item w-50 text-center">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#deal" role="tab"
                                    aria-controls="home" aria-selected="true">Deal Info</a>
                            </li>
                            <li class="nav-item w-50 text-center">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stage" role="tab"
                                    aria-controls="profile" aria-selected="false">Stage History</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 pt-3">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="deal" role="tabpanel">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="top-prop px-2 py-1">
                                            <div class="d-flex align-items-center">
                                                <div class="py-2">
                                                    <img src="assets/images/uba.svg" alt="">
                                                </div>
                                                <div class="p-2">
                                                    <p class="m-0 ff-s fw-6 fs-15 fc-black">UBA</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row py-2">
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Institution Type:</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s">Commercial Bank</p>
                                            </div>
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Trxn Vol.</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s">>1.2 Billion</p>
                                            </div>
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Est. Transaction Valu:</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s">130 Million</p>
                                            </div>
                                            <div class="col-5 mb-3">
                                                <p class="m-0 fc-lightblack fs-14 ff-s">Address:</p>
                                            </div>
                                            <div class="col-7 mb-3">
                                                <p class="m-0 fc-black fw-6 fs-14 ff-s">57 Marina, Lagos Island, Lagos,
                                                    Nigeria</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="info mb-3">
                                            <div class="top-prop b-5 p-2">
                                                <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                                            src="assets/images/contactcoins.svg" alt=""></span>Account
                                                </p>
                                            </div>
                                            <div class="row pl-2">
                                                <div class="col-12 mb-3">
                                                    <div class="d-flex align-items-center">
                                                        <div class="py-2">
                                                            <img src="assets/images/uba.svg" alt="">
                                                        </div>
                                                        <div class="p-2">
                                                            <p class="m-0 ff-s fw-6 fs-15 fc-black">UBA</p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="info mb-3">
                                            <div class="top-prop b-5 p-2">
                                                <p class="m-0 fw-4 ff-s fc-black fs-15"><span class="mr-2"><img
                                                            src="assets/images/accountcontact.svg" alt=""></span>Contact
                                                </p>
                                            </div>
                                            <div class="row pl-2">
                                                <div class="col-12 mb-3">
                                                    <div class="d-flex align-items-center justify-content-between p-2">
                                                        <div>
                                                            <div class="prop-initials">
                                                                A
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <p class="m-0 fs-15 ff-s fc-black fw-6">Adebayo Adeyemi </p>
                                                        </div>
                                                        <div>
                                                            <a>
                                                                <img src="assets/images/bcall.svg" alt="">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <a>
                                                                <img src="assets/images/bmessage.svg" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex justify-content-center mt-4">
                                            <button class="btn btn-green mr-3">View Complete Info</button>
                                            <button class="btn btn-more"><img src="assets/images/more-green.svg"
                                                    alt=""></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="stage" role="tabpanel"></div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- properties -->
        </div>
    </div>
</div>