@font-face{
    src: url('assets/fonts/Segoe-UI-Font/SEGOEUI.TTF');
    font-family: Segoe UI;
}
@font-face{
    src: url('assets/fonts/palatino-linotype/Palatino Linotype.ttf');
    font-family: Palatino Linotype;
}
/* fonts */
.fs-36 {
    font-size: 36px;
    line-height: 44px;
}

.fs-32 {
    font-size: 32px;
    line-height: 43px;
}

.fs-25 {
    font-size: 25px;
    line-height: 35px;
}

.fs-18 {
    font-size: 18px;
    line-height: 24px;
}

.fs-16 {
    font-size: 16px;
    line-height: 24px;
}

.fs-15 {
    font-size: 15px;
    line-height: 20px;
}

.fs-14 {
    font-size: 14px;
    line-height: 19px;
}

.fs-13 {
    font-size: 13px;
    line-height: 17px;
}

.fs-12 {
    font-size: 12px;
    line-height: 16px;
}

.fs-11 {
    font-size: 11px;
    line-height: 15px;
}

.fs-10 {
    font-size: 10px;
    line-height: 14px;
}

.fc-rlblue {
    color: #447BFF;
}

.fc-lightgrey {
    color: #B8B8B8;
}

.fc-lightwhite {
    color: rgba(255, 255, 255, 0.7);
}

.fc-black {
    color: #2B2C2D;
}

.fc-lightblack {
    color: rgba(43, 44, 45, 0.7);
}

.fc-blue {
    color: #215063;
}

.fc-red {
    color: rgba(174, 0, 0, 0.7);
}

.fc-darkblue {
    color: #005377;
}

.fc-dblue {
    color: #19304D;
}

.fc-6blue {
    color: rgba(25, 48, 77, 0.6);
}

.fc-green {
    color: #236B76;
}

.fc-lgreen {
    color: #00B19A;
}


.ff-s {
    font-family: Segoe UI;
}

.ff-p {
    font-family: Palatino Linotype;
}

.ff-m {
    font-family: Montserrat;
} 

.tx-u {
    text-decoration: underline;
}

.fw-7 {
    font-weight: 700;
}

.fw-6 {
    font-weight: 600;
}

.fw-5 {
    font-weight: 500;
}

.fw-4 {
    font-weight: 400;
}

.fw-3 {
    font-weight: 300;
}

.fw-2 {
    font-weight: 200;
}

a:hover {
    cursor: pointer;
}

/* end of fonts */
.productname {
    background: #DEE9F2;
    border-radius: 20px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
    line-height: 31px;
    color: #00529B;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green-nav {
    background: #165A3E;
}

.sidediv {
    background: #F7FDFB;
    height: calc(100vh - 110px);
    position: fixed;
    width: 100%;
    max-width: 350px;
}

.toplead {
    border-radius: 7px;
    background: url('assets/images/leads.png');
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.emptystate {
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.emptystate2 {
    height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.details {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #C6C6C5;
    box-sizing: border-box;
    border-radius: 5px;
}

.orangeline {
    background: rgba(255, 159, 28, 0.3);
    height: 1px;
    /* border: 1px solid rgba(255, 159, 28, 0.3); */
}

.littleorange {
    width: 100px;
    background: #D18700;
    height: 1px;
    margin-top: -1px;
    /* border: 1px solid #D18700; */
}

.deeporange {
    /* border: 1px solid #D18700; */
    max-width: 450px;
    height: 1px;
    background: #D18700;
    margin-top: -1px;
}

.top-prop {
    background: #FFFFFF;
    border-radius: 10px;
}

.top-prop.b-5 {
    border-radius: 5px;
}

.info {
    background: #EFFBF7;
    border-radius: 10px;
}

.prop-initials {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #007B8C;
    background: #F7FDFB;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.props {
    overflow-x: hidden;
    overflow-y: auto;
}

.nav.icons-nav {
    height: 100vh;
}

.nav.icons-nav a.nav-link {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    height: 65px;
    transition: .3s ease-in-out;
}

.nav.icons-nav a.nav-link svg #Vector {
    fill: #C6C6C5;
}

.nav.icons-nav a.nav-link svg #Vector1 {
    stroke: #C6C6C5;
}

.nav.icons-nav a.nav-link:hover {
    background: #F7FDFB;
}

.nav.icons-nav a.nav-link.active {
    background: #F7FDFB;
    border-right: 5px solid #165A3E;
}

.nav.icons-nav a.nav-link:hover svg #Vector {
    fill: rgba(0, 0, 0, .54);
}

.nav.icons-nav a.nav-link.active svg #Vector {
    fill: rgba(0, 0, 0, .54);
}

.nav.icons-nav a.nav-link:hover svg #Vector1 {
    stroke: rgba(0, 0, 0, .54);
}

.nav.icons-nav a.nav-link.active svg #Vector1 {
    stroke: rgba(0, 0, 0, .54);
}

.messages {
    height: 75vh;
    overflow: auto;
}

.message:hover {
    background: #EFFBF7;
}

.nav-tabs.mail {
    border: none;
}

.nav-tabs.mail a.nav-link {
    font-family: Segoe UI;
    background: none;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: rgba(43, 44, 45, 0.5);
}

.nav-tabs.mail a.nav-link.active {
    color: #2B2C2D;
    font-weight: 600;
}

.nav-tabs.mail a.nav-link.active {
    /* border-bottom: 1px solid #2B2C2D; */
}

.badge-secondary {
    background: #DAE1E7;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb-item {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #000000;
    content: url('../src/assets/images/arrow-right.svg');
}

.showinfo {
    display: none;
}

.product {
    background: #E2E2E2;
    border-radius: 2px;
    height: 23px;
    padding: 2px 4px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 19px;
    color: #0A1128;
}

.product.t {
    background: #EDF2F9;
    color: #243C67;
}

.image img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.image2 img {
    height: 54px;
    width: 54px;
    border-radius: 100%;
}

.dropdown-menu.filter-drop {
    width: 350px;
    background: #FFFFFF;
    border: 1px solid rgba(99, 114, 130, 0.16);
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(196, 192, 192, 0.16);
    border-radius: 4px;
    padding: 0;
}

.dropdown-menu.more-drop {
    width: 250px;
    background: #FBFCFE;
    border: 1px solid #DAE8F6;
    box-shadow: 0px 8px 16px rgba(27, 39, 51, 0.08);
    padding: 0;
    border-radius: 4px;
    margin-top: -100px;
}

.dropdown-menu.filter-drop .top {
    background: #F9F9F9;
    border-radius: 3px 3px 0px 0px;
}

.dropdown-menu.more-drop .top {
    border-bottom: 1px solid rgba(211, 220, 231, 0.4);
    border-radius: 3px 3px 0px 0px;
}

.dashbox {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px #EDF0F5;
}

.success-div {
    background: rgba(0, 0, 0, .54);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-div .whitediv {
    width: 40vw;
    /* margin: 0 auto; */
    min-height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(33, 80, 99, 0.15);
    border-radius: 10px;
}

/* table  */
table.table.dashboard {
    border-collapse: separate;
    border-spacing: 0 .5em;
}

table.table.dashboard thead {
    background: #FAFAFC;
}

table.table.dashboard thead th {
    border: none;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #767F87;
}

table.table.dashboard tbody tr {
    border: none;
    background: #F8FCFA;
    border-radius: 5px;
}

table.table.dashboard tbody tr td {
    border: none;
}



table.table.accounttab thead {
    background: #f5f5f5;

}

table.table.accounttab thead th {
    border: none;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    color: #707070;
}

table.table.accounttab tbody tr {
    border: none;
}

table.table.accounttab tbody tr td {
    border: none;
}

/* table  */


/* end of buttons  */
.btn-clear {
    border: none;
    height: 36px;
    background: none;
    border-radius: 4px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 24px;
}

.btn-clear.import:hover {
    background: #243C67;
}

.btn-out-green {
    border: 1px solid #035935;
    box-sizing: border-box;
    border-radius: 6px;
    background: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #035935 !important;
}

.btn-clear:hover,
.btn-out-white:hover,
.btn-out-green:hover {
    box-shadow: 0px 10px 20px rgba(16, 103, 116, 0.15);
    transition: .3s ease-in-out;
}

.btn-out-white {
    border: 1px solid #FFFFFF;
    height: 36px;
    background: none;
    border-radius: 4px;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 24px;
    color: white !important;
}

.btn-more {
    background: #FBFCFE;
    border-radius: 6px;
    height: 44px;
}

.btn-lightgreen {
    background: #EFF9FB;
    border-radius: 6px;
    height: 44px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1E5D66 !important;
}

.btn-lightgreen:hover {
    color: #1E5D66;
}

.btn-green {
    background: #26727E;
    border-radius: 6px;
    height: 44px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF !important;
}

.btn-green:hover {
    color: #FFFFFF;
}

.btn-blue {
    height: 44px;
    background: #005578;
    border-radius: 6px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    transition: .3s ease-in-out;
}

.btn-blue:hover {
    color: #fff;
    box-shadow: 0px 10px 20px rgba(16, 103, 116, 0.15);
}

.btn-out-blue {
    height: 44px;
    border: 1px solid #00384F;
    box-sizing: border-box;
    border-radius: 6px;
    background: none;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #00384F;
    transition: .3s ease-in-out;
}

.btn-out-blue:hover {
    color: #00384F;
    box-shadow: 0px 10px 20px rgba(16, 103, 116, 0.15);
}


.topform {
    border: 1px solid #c6c6c5;
    border-radius: 4px;
    height: 50px;
    font-weight: 400;
    font-family: Segoe UI;
    font-size: 15px;
    line-height: 20px;
    transition: .3s ease-in-out;
}

.form-control.topform:focus {
    border: none;
    border: 1px solid #00B19A;
    box-shadow: none;
}
.form-control.compose{
    border: none;
}
.bodymail{
    border-radius: 4px;
    border: 1px solid #c6c6c5;
}
.bodymail .bottom{
    background-color: rgba(196, 196, 196, 0.5);
}
.form-control.compose:focus {
    border: none;
    box-shadow: none;
}
.input-group.leadform,
.input-group.compose {
    border: 1px solid #c6c6c5;
    border-radius: 4px;
    height: 40px;
    padding: 0;
}

.input-group.leadform.big {
    height: 50px;
}

.input-group.leadform.big input.form-control {
    height: 48px;
}

.input-group.leadform input.form-control,
.input-group.compose input.form-control {
    border: none;
    font-weight: 400;
    font-family: Segoe UI;
    font-size: 15px;
    height: 38px;
    line-height: 20px;
}

.input-group.leadform.big select.form-control {
    height: 50px;

}
.input-group.leadform.big .i{
    font-family: Palatino Linotype;
    font-style: normal;
    font-weight: normal;
    font-size: 14.004px;
    line-height: 19px;
    color: #424242;
    height: 50px;
    background: #C4C4C4;
    padding: 15px 20px;
}
.input-group.leadform .i{
    font-family: Palatino Linotype;
    font-style: normal;
    font-weight: normal;
    font-size: 14.004px;
    line-height: 19px;
    color: #424242;
    height: 40px;
    background: #C4C4C4;
    padding: 10px 20px;
}

.input-group.leadform select.form-control {
    font-family: Palatino Linotype;
    font-style: normal;
    font-weight: normal;
    font-size: 14.004px;
    line-height: 19px;
    color: #424242;
    height: 40px;
    background: #C4C4C4;
}

.input-group.compose .input-group-prepend {
    font-family: Palatino Linotype;
    padding: 10px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14.004px;
    line-height: 19px;
    color: rgba(66, 66, 66, .7);
    height: 40px;
    background: rgba(196, 196, 196, 0.5);

}

.input-group.leadform input.form-control:focus,
.input-group.leadform select.form-control:focus {
    border: none;
    box-shadow: none;
}

.botform {
    border: 1px solid #c6c6c5;
    border-radius: 4px;
    height: 40px;
    font-weight: 400;
    font-family: Segoe UI;
    font-size: 15px;
    line-height: 20px;
    transition: .3s ease-in-out;
}

.form-control.botform:focus,
.form-control.detail-form:focus {
    border: none;
    border: 1px solid #00B19A;
    box-shadow: none;
}

textarea.form-control.detail-form {
    height: 105px;
}

.form-control.detail-form {
    border: 1px solid #C4D0D3;
    box-sizing: border-box;
    border-radius: 4px;
    height: 46px;
    background: none;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #1C274D;
}

.uploadfile {
    background: #FDFEFD;
    border: 2px dashed #215063;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.uploadfolder {
    border: 1px dashed #00806F;
    box-sizing: border-box;
    padding: 20px;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    background: #E2E2E2 !important;
    border-radius: 2px;
    padding: 3px !important;
    border: none !important;
    font-family: Segoe UI !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #2B2C2D !important;
}

.multiselect-dropdown .dropdown-btn .selected-item a {
    font-family: Segoe UI !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    line-height: 19px !important;
    color: #2B2C2D !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    background: #2B2C2D !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
    color: #2B2C2D !important;
    border: 2px solid #2B2C2D !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
    color: #2B2C2D !important;
    border: 2px solid #2B2C2D !important;
}

.multiselect-dropdown .dropdown-btn {
    border: 1px solid #C6C6C5 !important;
    height: 40px !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
    border: none !important;
    height: 10px !important;
    width: 10px !important;
    /* background-repeat: no-repeat !important;
    background-size: contain !important; */
    content: url('assets/images/up.svg') !important;

}

.multiselect-dropdown .dropdown-btn .dropdown-down {
    border: none !important;
    height: 10px !important;
    width: 10px !important;
    /* background-repeat: no-repeat !important;
    background-size: contain !important; */
    content: url('assets/images/down.svg') !important;
}

.dropdown-toggle::after {
    display: none !important;
}

/* buttons  */
html,
body {
    height: 100%;
}

body {
    margin: 0;
}